.logout-container {
    position: relative; /* Necessário para que o botão seja posicionado em relação a este contêiner */
    width: 100%; /* Ajuste conforme necessário */
    height: 100%; /* Ajuste conforme necessário */
}

.logout-button {
    position: absolute;
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker red */
}